@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
  --primary-font: 'Nunito', sans-serif;
  --nav-font: 'Orbitron', sans-serif;
  --primary-color: #CCF8FB;
  --secondary-color: #FFFFFF;
  --blue-color: #87DFD6;
  --solid-blue: #01A9B4;
  --white-color: #fff;
  --button-text-color: #D8F7F9;
  --hr-color: #FBFD8A;
}

body{
	font-family: var(--primary-font);
	background-color: black;
}

footer{
	height: 20vh;
	display: grid;
	align-items: flex-end;
}
/*BUTTONS*/
.custom-btn1{
	padding: 15px 30px;
	margin-top: 50px;
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 800;
	font-size: 12px;
	line-height: 16px;
	border-radius: 0px;
	color: var(--button-text-color);
}
.custom-btn2{
	padding: 15px 50px;	
}
@media all and (min-width: 0px){
	header{
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover-mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	.top-nav{
		background: var(--solid-blue);
	}
	.top-nav li{
		list-style: none;
		font-family: var(--nav-font);
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 38px;
		padding: 40px;
		text-align: center;
	}
	.navigation a{
		text-decoration: none;
		color: var(--secondary-color);
	}

	.wrapper{
		margin: 0;
		padding: 0;
			
	}
	.nav-wrapper{
		width: 100%;
		position: absolute;
		z-index: 3;
		margin: 0;
		
	}
	.navbar{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10vw;
	}
	.logo{
		font-family: var(--nav-font);
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 32px;
		color: var(--secondary-color);
	}
	.cover{
		width: 100%;
		height: 120vh;
		padding: 220px 0.5rem 0 0.5rem;
	}
	.rm{
		padding: 0;
	}

	.cover-text{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 27px;
		color: var(--blue-color);
		padding: 2.5rem;
		background-image: 
		url(../images/border2.svg),
		url(../images/border1.svg),
		url(../images/border4.svg),
		url(../images/border3.svg);
		background-position: 
		top right,
		top left,
		bottom right,
		bottom left;
		background-repeat: no-repeat;
		margin: 2vw;
	}

	.white{
		color: var(--white-color);
	}

	.cover-content{
		display: grid;
		justify-content: center;
		
	}

	.bk{
		background-image: url(../images/buttonbk.svg);
		background-repeat: no-repeat;
		background-position: 47% 88%;
	}

	.bk01{
		background-image: url(../images/buttonbk.svg);
		background-repeat: no-repeat;
		background-position: 46% 88%;
	}


	#arrow1{
		padding: 2vw 20px 0px 25px;
	}

	.arrow{
		display: grid;
		padding: 50px 20px 0px 25px;
		justify-content: center;
	}

	/*music section*/
	.music{
		height: 100%;
	}

	.cards{
		margin-bottom: 100px;
		transition: all 0.5s ease;
	}

	.section-title{
		font-family: var(--nav-font);
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 32px;
		text-align: right;
		color: var(--blue-color);
		padding: 90px 0 50px 0;
		opacity: 0.34;	
	}

	.img{
		width: 100%;
	}

	.gallery-img{
		filter: brightness(50%);
	}

	.bk1{
		box-shadow: 8px 20px 1px 1px var(--hr-color);
		-webkit-box-shadow: 8px 20px 1px 1px var(--hr-color);
		-moz-box-shadow: 8px 20px 1px 1px var(--hr-color);
	}

	.bk2{
		box-shadow: 8px 20px 1px 1px var(--solid-blue);
		-webkit-box-shadow: 8px 20px 1px 1px var(--solid-blue);
		-moz-box-shadow: 8px 20px 1px 1px var(--solid-blue);
	}

	.bk3{
		box-shadow: 8px 20px 1px 1px var(--secondary-color);
		-webkit-box-shadow: 8px 20px 1px 1px var(--secondary-color);
		-moz-box-shadow: 8px 20px 1px 1px var(--secondary-color);
	}

	.content-title{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 38px;
		padding-top: 30px;
		color: var(--primary-color);
		text-align: center;
	}

	.subtitle{
		margin-top: -20px;
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: var(--secondary-color);
	}

	.more, .more a{
		display: flex;
		justify-content: center;
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 22px;
		color: var(--solid-blue);
	}

	.hide{
		display: none;
	}

	/*gallery section*/
	.gallery{
		height: 100%;
		/*padding: 5px 20px;*/
	}
	.video{
		position: relative;
	}
	.play{
		position: absolute;
		display: flex;
		justify-content: center;
		margin: -30vw 40vw;
		height: 30px;
	}
	.year{
		font-style: italic;
		padding-top: 20px;
		color: #CCF8FB;
	}
	.k{
		display: grid;
		justify-content: center;
	}

	.border-bottom{
		display: flex;
		text-align: center;
		background-color: var(--hr-color);
		height: 3px;
		width: 10vw;
		margin: -3vw 0px 20px 37.5vw;
	}
	/*shows section*/
	.shows{
		height: 100%;
		/*padding: 5px 20px;*/
	}
	.hide2{
		display: block;
	}

	/*contact/socials*/
	.contact{
		height: 100%;
		/*padding: 5px 20px;*/
	}
	.socials{
		height: 25px;
		margin: 5vw 0;
	}

	.social{
		display: flex;
		justify-content: center;

	}

	.social1{
		display: flex;
		justify-content: flex-start;
		padding: 10px 30px;
	}

	.social2{
		display: flex;
		justify-content: flex-end;
		padding: 10px 30px;
	}
	/*footer*/
	.footer-text{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: var(--secondary-color);
	}
	.rm-padding{
		padding: 0;
	}
	main{
		width: 85%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
	}
	.fx{
		width: 80%;
		margin: auto;
	}
}
@media all and (min-width: 320px) and (min-height: 480px){
	.top-nav li{
		padding: 20px;
	}
}
@media all and (min-width: 375px) and (min-height: 667px){
	.top-nav li{
		padding: 30px;
	}
	#arrow1{
		margin-top: 20vw;
	}
}
@media all and (min-width: 375px) and (min-height: 812px){
	#arrow1{
		margin-top: 50vw;
	}
	.top-nav li{
		padding: 40px;
	}
}
@media all and (min-width: 400px){
	#arrow1{
		padding-top: 10vw;
	}
}
@media all and (min-width: 450px) and (min-height: 600px){
	#arrow1{
		padding-top: 0;
	}
}
@media all and (min-width: 768px){
	header{
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vw;
	}
	main{
		width: 90%;
	}
	.navbar{
		padding: 4vw 0 0 0;
	}
	.cover{
		width: 100%;
		height: 100%;
		padding: 20vw 5vw 0vw 5vw;
	}

	.cover-text{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		line-height: 38px;
		padding: 3.2rem;
		width: 60%;
		margin: 0;
	}

	#hide{
		display: none;
	}

	.more{
		display: none;
	}
	.show{
		display: block;
	}

	.content-title{
		font-size: 20px;
		text-align: left;
	}
	.section-title{
		font-size: 48px;
		line-height: 48px;
	}

	.subtitle{
		font-size: 14px;
		text-align: left;
	}
	.hide2{
		display: none;
	}
	.play{
		position: absolute;
		display: flex;
		justify-content: center;
		margin: -17vw 15vw;
		height: 70px;
	}
	#arrow1{
		margin-top: 0;
	}
	.bk{
		background-position: 49% 88%;
	}
	.bk01{
		background-position: 49% 88%;
	}
	.border-bottom{
		display: flex;
		text-align: center;
		background-color: var(--hr-color);
		height: 3px;
		width: 4vw;
		margin: 0.5vw 0vw 3vw;
	}
	.cards{
		padding:0 3vw;
	}
	#hidde{
		display: none;
	}
	.show2{
		display: block;
	}
	.try{
		display: flex;
		justify-content: center;
	}
	#arrow1{
		margin-top: 5vw;
	}
	.fx{
		width: 100%;
		margin: auto;
	}
	.sizes{
		height: 70%;
		padding: 0 20px;
	}
	.align{
		padding-left: 2.61vw;
	}
	.specs{
		margin: -1.5vw 0 0 2.61vw;
	}
	.socials{
		height: 16px;
		justify-content: center;
	}

}
@media all and (min-width: 768px) and (min-height: 1122px){
	header{
		height: 100vw;
		background-size: cover;
	}
	.cover{
		padding-top: 20vw;
	}
	#arrow1{
		margin-top: 0;
	}
}
@media all and (min-width: 933px) and (min-height: 440px){
	header{
		height: 100%;
	}
}

@media all and (min-width: 1024px){
	header{
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 120vh;
	}
	.cover-text{
		width: 100%;
		margin: 0;
		background-size: 100px;

	}
	.top-nav li{
		font-size: 24px;
	}
	.cover{
		padding: 27vw 49vw 0vw 5vw;
		width: 100%;
	}
	.try{
		display: grid;
		height: 10vh;
		align-items: flex-end;
	}
	#arrow1{
		margin-top: 50vw;
	}

	.arrow{
		align-items: center;
		margin-left: -5vw;
	}
	.more{
		display: none;
	}

	.hide2{
		display: none;
	}

	.show{
		display: block;
	}
	#hidde{
		display: none;
	}
	.bk01{
		background-size: 200px;
		background-repeat: no-repeat;
		background-position: 99% 88%;
	}
	.bk{
		background-size: 220px;
		background-position: 96% 96%;
	}

	.content-title{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 38px;
	}
	.subtitle{
		font-family: var(--primary-font);
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 40px;
		text-align: left;
	}
	.gallery-img{
		padding: 30px 0;
	}
	.sizes{
		height: 70%;
		width: 90%;
	}
	.social1{
		justify-content: center;
	}
	.social2{
		justify-content: center;
	}
	.social{
		padding: 0 12.5rem;
	}
	.align{
		padding-left: 0;
	}
	.play{
		position: absolute;
		display: flex;
		justify-content: center;
		margin: -17vw 17vw;
		height: 70px;
	}
	.cards{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	.gg{
		width: 100%;
	}

	.cover-content{
		justify-content: flex-end;
	}
	#algn{
		margin-top: -110px;
	}
	.border-bottom{
		height: 3px;
		width: 3vw;
		margin: 0vw 0vw 3vw;
	}
	.specs{
		margin: -1vw 0 0 0;
	}
	.custom-btn1{
		font-size: 20px;
		line-height: 27px;
	}
	.dec{
		margin-top: -3vw;
	}
	footer{
		height: 15vh;
	}
}
@media all and (min-width: 1024px) and (min-height: 768px){
	#arrow1{
		margin-top: 75vw;
	}
	.bk{
		background-position: 92% 96%;
	}
	.bk01{
		background-position: 98% 88%;
	}
}
@media all and (min-width: 1024px) and (min-height: 1366px){
	header{
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	.cover{
		width: 100%;
		padding: 20vw 40vw 10vw 5vw;
		
	}
	#arrow1{
		margin-top: 50vw;
	}
	.arrow{
		margin-left: -7vw;
	}
	.play{
		margin: -17vw 13vw;
		height: 70px;
	}
	.social{
		padding: 0 10px;
	}
	.bk01{
		background-size: 200px;
		background-position: 98% 88%;
	}
	.content-title{
		font-size: 18px;
	}
	.border-bottom{
		width: 4vw;
	}
	.bk{
		background-size: 220px;
		background-position: 94% 92%;
	}
}
@media all and (min-width: 1120px) and (min-height: 528px){
	header{
		height: 70vw;
	}
	#arrow1{
		margin-top: 60vw;
	}
}
@media all and (min-width: 1400px) and (min-height: 600px){
	header{
		height: 120vh;
	}
	#arrow1{
		margin-top: 55vw;
	}
	.socials{
		height: 25px;
	}
	.bk01{
		background-size: 200px;
		background-repeat: no-repeat;
		background-position: 99% 88%;
	}
	.bk{
		background-size: 220px;
		background-position: 96% 96%;
	}

}
@media all and (min-width: 1500px){
	header{
		height: 130vh;
	}
	.cover-text{
		font-size: 50px;
		line-height: 60px;
	}
	.custom-btn1{
		font-size: 22px;
	}
	.content-title{
		font-size: 50px;
		line-height: 50px;
	}
	.subtitle{
		font-size: 30px;
		line-height: 60px;
	}
	.music-logo{
		height: 30px;
	}
	.section-title{
		font-size: 70px;
	}
	.dec{
		margin-top: -1vw;
	}
	.specs{
		margin-top: -0.4vw;
	}
	.socials{
		height: 50px;
	}
	.footer-text{
		font-size: 40px;
		margin-bottom: 2vw;
	}
	#arrow1{
		padding-top: 0;
		margin-top: 50vw;
	}
	.logo{
		font-size: 60px;
	}
}
@media all and (min-width: 4000px){
	#arrow1{
		margin-top: 30vw;
	}
	.arrow{
		margin-left: -2vw;
	}
	.bk{
		background-position: 98% 99%
	}
	.bk01{
		background-position: 99.2% 88%;
	}
}
/*hover effect*/
.cover-content-desktop, #hidde{
	animation: pen 2s ease infinite alternate;
}
@keyframes pen{
	from{
		transform: translateY(0px);
	}
	to {
		transform: translateY(10px);
	}
}
.loader{
	font-family: var(--nav-font);
	background-color: black;
	z-index: 40;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}
.loader-finish{
	opacity: 0;
	pointer-events: none;
}
.cards:hover{
	transform:  scale(1.05);
	transition: all 0.5s ease;
}